* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general styling */
body {
  max-height: 100vh;
}

li {
  list-style: none;
}

/* Grid */
body {
  display: grid;
  grid-template-areas:
    'header header'
    'user-list chat-window'
    'footer footer';
  grid-template-columns: minmax(auto, 10em) 3fr;
  grid-template-rows: minmax(50px, auto) 1fr minmax(100px, auto);
}

.header {
  grid-area: header;
  background: rgb(255, 239, 8);
  text-align: center;
}

.user-list {
  grid-area: user-list;
  background: rgb(219, 162, 196);
}

.chat-window {
  grid-area: chat-window;
  background: rgb(191, 237, 233);
}

.footer {
  grid-area: footer;
  background: rgb(179, 227, 130);
}

/* Vertical scrollbar */
.user-list, .chat-window {
  overflow-y: auto;
}
